<!-- app.component.html -->

<div class="searchbox-wrap">
  <input id="cityInput" [(ngModel)]="cityName" placeholder="Search for something...">
  <button (click)="searchWeather()">
    <span>Send</span>
  </button>
</div>

<div *ngIf="weatherData">
  <div class="container">
    <div class="up-data">
      <img src="../assets/hot.jpg" *ngIf="weatherData.main.temp > 17">
      <img src="../assets/cold.jpg" *ngIf="weatherData.main.temp <= 10">
      <img src="../assets/Sereno.avif" *ngIf="!isRaining() && weatherData.main.temp > 10 && weatherData.main.temp <= 17" alt="">
      <img src="../assets/rain.jpeg" alt="" *ngIf="isRaining()">

      <div class="weather">
        <div class="location">{{ cityName }}</div>
        <div class="temperature">{{ weatherData.main.temp}}°C</div>
      </div>
      <!-- <div class="weatherSky">
        <img src="../assets/ClearSky.jpeg" alt="" *ngIf="weatherData.weather && weatherData.weather.some(w => w.main === 'Clear')">
        <img src="../assets/rainIcon.avif" alt="" *ngIf="weatherData.weather && weatherData.weather.some(w => w.main === 'Rain')">
        <img src="../assets/nuvoloso.png" alt="" *ngIf="weatherData.weather && weatherData.weather.some(w => w.main === 'Mist')">
      </div> -->
    </div>

    <div class="down-data">
      <div class="info-data">More Information</div>
      <div class="info-container">
        <div class="info">
          <div class="info-block">
            <img src="../assets/min.png" alt="">
            <span>Min</span>
          </div>
          <div class="info-block-value">{{ weatherData.main.temp_min}}°C</div>
        </div>

        <div class="info">
          <div class="info-block">
            <img src="../assets/max.png" alt="">
            <span>Max</span>
          </div>
          <div class="info-block-value">{{ weatherData.main.temp_max}}°C</div>
        </div>

        <div class="info">
          <div class="info-block">
            <img src="../assets/Humidity.png" alt="">
            <span>Humidity</span>
          </div>
          <div class="info-block-value">{{ weatherData.main.humidity }}%</div>
        </div>

        <div class="info">
          <div class="info-block">
            <img src="../assets/vento.png" alt="">
            <span>Wind Speed</span>
          </div>
          <div class="info-block-value">{{ weatherData.wind.speed.toFixed(1) }} km/h</div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
